@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&family=Dancing+Script&family=Press+Start+2P&family=VT323&display=swap');

:root {
    --neutral: #22223b;
    --dark: #006494;
    --light: #b8b8ff;
    --accent: #13293d;
    --accent2: #1b98e0;
}

* {
    background-color: var(--neutral);
    font-family: 'Comic Neue', cursive;

}

main {
    width: 80%;
    height: 450px;
    margin: 0 auto; 
    margin-top: 50px;
    border: 6px solid var(--dark);
    border-radius: 25px; 
    background-color: var(--light);
    display: flex;
    justify-content: space-around;
}

#game-box {
    flex-basis: 65%;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: relative;
}

#game-aside {
    flex-basis: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; 
    background-color: transparent;
}

#question {
    color: var(--accent);
    font-size: 24px;
    font-style: oblique;
}

#question-box {
    width: 95%;
    /* border: 5px solid black;  */
    background-color: transparent;
    height: 65%;
    display: none;
}

#text-channel {
    width: 95%;
    /* border: 5px solid black;  */
    background-color: var(--light);
    height: 60px;
    position: absolute;
    border: 5px solid var(--dark);
    border-radius: 25px;
    bottom: -65px;
    left: 0;
    padding-top: 10px;
    padding-left: 25px; 

}



#options {
    background-color: transparent;
}

.answer {
    background-color: transparent;
    line-height: 60px;
    margin-top: 15px;
    font-size: 18px;
}


#countdown {
    width: 95%; 
    height: 10%;
    margin: 5% auto; 
    padding-top: 7px;
    border: 4px solid var(--accent);
    background-color: var(--dark);
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
}

#game-decor {
    margin-top: 25px;
    height: 70%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-decor img {
    display: block;
    width: 60%;
    height: auto;
    background-color: transparent;

}

#game-start {
    width: 40%;
    height: 10%;
    margin: 0 auto; 
    border: 4px solid whitesmoke;
    background-color: var(--accent2);
    border-radius: 50px;
    text-align: center;
    position: absolute;
    bottom: 35px;
    right: -10px;
    font-size: 33px;
    color: whitesmoke;
    font-weight: 900;
}
    


