@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&family=Dancing+Script&family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

:root {
    --neutral: #22223b;
    --dark: #006494;
    --light: #b8b8ff;
    --accent: #13293d;
    --accent2: #1b98e0;
    --purple: #7209b7;
}

* {
    background-color: var(--neutral);
    font-family: 'Comic Neue', cursive;

}
p {
    background-color: var(--light);
    text-align: center;
}
header p {
    background-color: transparent;
}
.transparent
 { 
    background-color: var(--light);

}


h1 {
    color: var(--accent2);
    text-align: center;
    text-shadow: 4px 2px var(--purple);
    background-color: transparent;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 25px;
    ;
}

#buttons {
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

#game-box {
    height: 400px;
    width: 70%;
    padding-top: 2%;
    margin: 0 auto;
    margin-top: 10px;
    border: 6px solid var(--dark);
    border-radius: 25px; 
    background-color: var(--light);
}


#question {
    color: var(--accent);
    font-size: 24px;
    font-style: oblique;
    padding-left: 25px;
}

#question-box {
    width: 80%;
    margin: 0 auto;
    /* border: 5px solid black;  */
    background-color: transparent;
    height: 90%;
    display: none;
}

#text-channel {
    padding-top: 10px;
    padding-left: 25px;
    background-color: var(--light);
    height: 60px;
    width: 70%;
    border: 5px solid var(--dark);
    border-radius: 25px; 
    color: var(--purple);
    font-size: 22px;
    margin: 0 auto;
    margin-top: 15px;
    display: none;

}


li {
    text-align: center;
}

#options {
    background-color: transparent;
}

.answer {
    background-color: transparent;
    line-height: 60px;
    margin-top: 15px;
    font-size: 18px;
}


#countdown {
    width: 325px; 
    height: 45px;
    margin: 0 auto; 
    margin-top:10px;
    padding-top: 8px;
    border: 4px solid var(--purple);
    background-color: var(--accent2);
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
}

#start,
    #score {
    background-color: var(--purple);
    border: 5px solid whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    cursor: grab;
    font-style: initial;
}

#start {
    height: 100px;
    width: 250px;
    font-size: 78px;
}

#score {
    height: 50px;
    width: 200px;
    font-size:18px;

}

#userbox {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#score-box {
    display:none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-around;
    align-items: center; 


}
    


